In [1]:
import adding_mistakes
import code_to_string
import pandas as pd
import numpy as np

In [2]:
path_array = ['./rst_files_correct_ones/sample_1.rst','./rst_files_correct_ones/sample_2.rst','./rst_files_correct_ones/sample_3.rst','./rst_files_correct_ones/sample_4.rst','./rst_files_correct_ones/sample_5.rst']

In [3]:
str_arr = [0,0,0,0,0]
for i in range(len(str_arr)):
    str_arr[i] = code_to_string.code_to_string(path_array[i])

In [4]:
data_array = [[],[],[],[],[]]
for i in range(len(str_arr)):
    for j in range(200):
        mistake_rst, count_mistakes = adding_mistakes.introduce_rst_syntax_mistakes(str_arr[i], num_mistakes=200)
        data_array[i].append([mistake_rst, str_arr[i], count_mistakes])

In [5]:
data_array = np.array(data_array)

In [6]:
data_array.shape

(5, 200, 3)

In [7]:
df1 = pd.DataFrame(data_array[0], columns=['feature', 'actual_val', 'no_of_mistakes'])
df2 = pd.DataFrame(data_array[1], columns=['feature', 'actual_val', 'no_of_mistakes'])
df3 = pd.DataFrame(data_array[2], columns=['feature', 'actual_val', 'no_of_mistakes'])
df4 = pd.DataFrame(data_array[3], columns=['feature', 'actual_val', 'no_of_mistakes'])
df5 = pd.DataFrame(data_array[4], columns=['feature', 'actual_val', 'no_of_mistakes'])

In [8]:
df_final = pd.concat([df1,df2,df3,df4,df5], axis=0, ignore_index=True)

In [9]:
df_final.shape

(1000, 3)

In [10]:
df_final.head()

,feature,actual_val,no_of_mistakes
0,==============\nreStructuredText\n==\n\n**reSt...,==============\nreStructuredText\n============...,105
1,==============\n reStructuredText\n========...,==============\nreStructuredText\n============...,113
2,==============\n reStructuredText\n========...,==============\nreStructuredText\n============...,108
3,==============\nreStructuredText\n=======\...,==============\nreStructuredText\n============...,113
4,==============\n reStructuredText\n =======...,==============\nreStructuredText\n============...,112

In [11]:
df_final.to_csv('training_data.csv')